/***** Global Elements *****/

:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #334159;
}

button {
  padding: 0.3rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.75rem;
  color: white;
  cursor: pointer;
  border: 1px;

  font-size: 1.3em;
  margin: 0px 10px;
  height: 30px;

  padding: 0px 15px;
}
/***** Generic Containers ******/

.paper {
  padding: 1rem;
  background-color: #546d91;
  border-radius: 0.6rem;
  box-shadow: 1px 1px 1px 1px lightgray;
  width: 100%
}

/***** Header *****/

#header {
  color: lightgray;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0;
  background-color: black;
  font-size: 0.9em;
}

#header .widthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 0px 30px;
}

#header .brand {
  font-weight: 700;
  color: white;
}

#header a:visited, a:hover, a:link {
  color: white;
  text-decoration: none;
}

#navigation a:visited, a:link {
  color: #bbbbbb;
  text-decoration:none
}

#navigation a:hover {
  color: white;
  text-decoration: none;
}

#navigation {
  display: flex;
  font-size: 1.5em;
}

#navigation > * {
  margin-left: 40px;
}

/***** Page Body *****/

#document {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: white;
}

#document h1 {
  font-size: 2em;
  font-weight: 3000;
}

#document .paper {
  text-align: center;
}

/***** Top Bar *****/

#topbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0em 2em;
  height: 11em;
}

#topbar h1 {
  margin: 0px 0px 15px 0px;
}
#topbar h2 {
  font-size: 2.5em;
  margin: 0px;
}

#topbar h3 {
  font-size: 1.1em;
  margin: 0px 0px 15px 0px;
}

/* Transaction history facts */

#quickfacts {
  height: 100%;
}

#changedata {
  margin-left: 30px;
  width: 60%;
  height: 100%;
}

#facts {
  display: flex;
  justify-content: space-around;
}

#income {
  color: #cfe3ff;
}

#last_transac {
  color: #fdffbf;
}

#avg_input {
  color: #cfffd3;
}

#avg_expense {
  color: #faccca;
}

#changedata h1 {
  margin-bottom: 20px;
}

/* Change display buttons */

#buttons {
  display: flex;
  flex-direction: column;
}

#buttons > * {
  display: flex;
  margin-bottom: 10px;
}

#buttons p {
  margin-right: 10px;
  color: #c7feff;
  font-weight: bold;
  font-size: 1.6em;
  margin: 0px;
}

#buttons button {
  margin: 5px 5px 0px 15px;
}

#time button {
  background-color: #d97a00;
}

#time button:hover {
  background-color: #e89427;
}

#net {
  background-color: #ad9f3e;
}

#net:hover {
  background-color: #bfad32;
}

#deposit {
  background-color: #008a2c;
}

#deposit:hover {
  background-color: #00a11b;
}

#withdrawl {
  background-color: #c72400;
}

#withdrawl:hover {
  background-color: #ff0400;
}

/***** Graph ********/
#graph {
  margin: 1.8em 2em;
}

#graph h1 {
  margin: 0px;
}
